manifest {
    name            = 'nf_starr_seq'
    author          = 'Fei Sang'
    description     = 'Starr Seq Analysis pipeline'
    homePage        = 'https://github.com/wtsi-hgi/nf_starr_seq'
    version         = '0.1'
    nextflowVersion = '>=23.10.0'
}

params {
    help                    = false
    version                 = false
    pipeline_name           = manifest.name
    pipeline_version        = manifest.version
    sanger_module           = false

    sample_sheet            = null
    outdir                  = "$PWD"
    resource                = null

    ct_a                    = null
    ct_g                    = null
    ct_A                    = null
    ct_G                    = null
    ct_O                    = 3
    ct_e                    = 0.1
    ct_m                    = 0
    ct_action               = "trim"

    skip_dedup              = false
    has_umi                 = false
    fp_q                    = 20
    fp_u                    = 30
    fp_dup_calc_accuracy    = 6
    fp_umi_loc              = null
    fp_umi_len              = 10
    fp_umi_prefix           = null
    fp_umi_skip             = 0
    fp_umi_delim            = ":"

    skip_flash2             = false
    f2_min_overlap          = 10
    f2_max_overlap          = 150
    f2_min_overlap_outie    = 20
    f2_max_mismatch_density = 0.25

    aligner                 = "bowtie2"
    aligner_min_mapq        = 20

    bt2_cut_len             = 50
    bt2_maxins              = 1000

    bwa_mismatch            = 4
    bwa_gap_open            = "10,10"
    bwa_gap_ext             = "5,5"
    bwa_clip                = "1,1"

    macs3_g                 = "hs"
    macs3_q                 = 0.05
    macs3_extsize           = 200

    sp_threshold            = 0.05
    sp_length               = 500
    sp_step                 = 100
    sp_min                  = 0
    sp_max                  = 1000
    sp_mincov               = 0
}

process {
    cache = 'lenient'

    cpus   = { 1    * task.attempt }
    memory = { 8.GB * task.attempt }
    time   = { 4.h  * task.attempt }

    errorStrategy = { task.exitStatus in [143,137,104,134,139,130,140] ? 'retry' : 'finish' }
    maxRetries    = 2
    maxErrors     = -1

    resourceLimits = [
        cpus   : params.max_cpus,
        memory : params.max_memory,
        time   : params.max_time
    ]

    withLabel:process_single {
        cpus   = { 1 }
        memory = { 2.GB * task.attempt }
        time   = { 4.h  * task.attempt }
    }

    withLabel:process_low {
        cpus   = { 16 }
        memory = { 8.GB * task.attempt }
        time   = { 12.h * task.attempt }
    }

    withLabel:process_medium {
        cpus   = { 32 }
        memory = { 16.GB * task.attempt }
        time   = { 12.h  * task.attempt }
    }

    withLabel:process_high {
        cpus   = { 64 }
        memory = { 64.GB * task.attempt }
        time   = { 12.h  * task.attempt }
    }

    withLabel:process_high_memory {
        cpus   = { 40 }
        memory = { 80.GB * task.attempt }
        time   = { 12.h  * task.attempt }
    }

    withLabel:process_single_dynamic_memory {
        cpus = { 1 }
        time = { 4.h * task.attempt }
    }

    withLabel:process_low_dynamic_memory {
        cpus = { 16 }
        time = { 12.h * task.attempt }
    }

    withLabel:process_medium_dynamic_memory {
        cpus = { 32 }
        time = { 12.h * task.attempt }
    }

    withLabel:process_high_dynamic_memory {
        cpus = { 40 }
        time = { 12.h * task.attempt }
    }

    withLabel:error_ignore {
        errorStrategy = 'ignore'
    }

    withLabel:error_retry {
        errorStrategy = 'retry'
        maxRetries    = 2
    }
}